*.ncu-rep
profiles/
*.out
*.err
run_report_*.md
build_report_*.md
__pycache__/
UPDATE_SUMMARY.md
UPDATES_SUMMARY.md
code2/
.ipynb_checkpoints/
book/
CONSISTENCY_REPORT.md
COMPLIANCE_REPORT.md
.DS_Store
AI_PerEng_clean_draft.pdf
AI_PerEng_clean_draft.txt
github_repo.tar.gz
master_profile_*/
